
{% extends "grading/layout.html" %}

{% load static %}

{% block body %}
    <div id="hero-section">
        <div class="container">
            <div class="text">
                <h1 class="h-1">Welcome to <span class="learnwith">LearnwithMohamed</span> Academy</h1>
                <p class="h-p">Empowering learners to achieve their goals with expert guidance and engaging resources. Join us on a journey of discovery, growth, and success.</p>
            </div>
            <div class="hero-img">
                <img src="{% static 'img/hero-img.png' %}" alt="Hero-img">
            </div>
        </div>
    </div>
{% endblock %}